/* General */

body{
	position: relative;
	height: 100%; 
	width: 100%;
	margin: 0;
	color: #0202DF; /* Body Blue */
}

h1{
	color: black;
	margin-left: 150px;
}

th{
	color: black;
	border-bottom: 2px solid black;
}

/* Banner */

#UofTLogo{
	height: 80px;
	width: 240px;
}

#bannerTable{
	position: relative;
	top: 0;
	width: 100%;
	background-color: #5e8cd6;	/* Medium Blue */
	border-bottom: 4px solid black;
}

/* Login Page */

#loginTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 200px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#loginInfoTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 400px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#login{
	text-align: center; 
}

#loggedInUser{
	color: #FF1717; /* Login Red */
	position: fixed;
	right: 10px;
	bottom: 10px;
}

/* Users Page */

#selectedUserTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 550px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#addUserTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 550px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

/* Applications Page */

#viewProfileTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 600px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#myAppTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	border-spacing: 10px;
	padding: 8px;
	width: 600px;
	margin: auto;
	text-align: center;
	border-spacing: 0px;
	box-shadow: 10px 10px 5px #888888;
}

#selectedAppTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	border-spacing: 10px;
	padding: 8px;
	width: 600px;
	margin: auto;
	height: 228px;
	box-shadow: 10px 10px 5px #888888;
}

/* Profile Page */

#editMyProfile{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 900px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#myProfileTable p{
	text-indent: 20pt;
	/*display: block;*/
}

#pWhy, #pTAVol, #pTAExp{
	width: 100px;
	resize: vertical;
	height: 80px;
}

/* Other Page */

#csvTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 200px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#clearSemTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 200px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#courseOptionsTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 620px;
	margin: auto;
	height: 228px;
	box-shadow: 10px 10px 5px #888888;
}

#addCourseForm{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 10px;
	padding: 8px;
	width: 600px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

#courseTable, #allAppTable, #userTable{
	border: 2px solid black;
	border-radius: 10px;
	text-align: left;
	border-spacing: 0px;
	cell-padding: 20px;
	overflow: scroll;
	text-align: center; 
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	background-color: #aeccfc;	/* Light Blue */
}

#allAppTable tbody{
	/* display: block; */
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 400px;
}

#userTable thead td{
	/*display: inline-block;*/
}

#userTable tbody{
	/*display: block;*/
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 300px;
}

#userUtorid{
	margin-left: -30px;
}

#userOther,#userUtorid{
	width: 185px;
}

#userEmail{
	width: 300px;
}

#applicant{
	margin-left: -60px;
}

#allAppTable thead td{
	/*display: inline-block;*/
	width: 11.5%;
	text-align: center;
}

#allAppTable tbody td{
	width: 10%;
}

#appUtorid, #appStatus{
	margin-left: -10px;
}

#appYear{
	margin-left: -5px;
}

#appCampus{
	margin-right: 10px;
}

#courseTable thead td{
	/*display: inline-block;*/	
}

#courseTable tbody{
	/*display: block;*/
	overflow-y: scroll;
	max-height: 300px;
}

#cCode{
	margin-left: -65px;
}

#cCode,#cTerm,#cYear,#cInstructor,#cCampus,#cAvail{
	width: 60px;
}

#cTitle{
	width: 475px;
}

#rowTitle{
	width: 475px;
}
#cOther{
	width: 60px;
}
#cPos{
	width: 100px;
}

#courseTable tbody #body:hover{
	background-color: #ffff80; /* Hover Yellow */
}
#userTable tbody tr:hover{
	background-color: #ffff80; 
}
#allAppTable tbody tr:hover{
	background-color: #ffff80; 
}

#myAppTable tbody tr:hover{
	background-color: #ffff80; 
}

#courseTable td, #allAppTable td{
	padding: 5px;
}

#selected{
	background-color: #ff8533;	/* Selected Orange */
}

input {
    outline: 2px solid grey;
}

#tableWrap{
	position: relative;
	max-height: 50%;
	max-width: 65%;
	/*display: block;*/
}

select #green{
	background-color: green;
}

#Q1text,#Q2text,#Q3text{
	margin-left: 20px;
	width: 80%;
}

#errorMessage{
	color: red;
}

#applicant:hover{
	color: green;
}

thead{
	color: black;
}

#pageButtons #usersPage,#appPage,#otherPage,#contactPage,#profilePage{
	background-color: #cacdd1;
	height: 30px;
	width: 110px;
	font-size: 100%;
}
#coursePage{
	background-color: #153363;
	color: white;
	height: 30px;
	width: 110px;
	font-size: 100%;
}

