body{
	position: relative;
	height: 100%; 
	width: 100%;
	margin: 0;
}

h1{
	color: black;
}
th{
	color: black;
	border-bottom: 2px solid black;
}

/* Login page */
#loginTable{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 30px;
	padding: 8px;
	width: 200px;
	margin: auto;
}

#login{
	text-align: center; 
}


/* Users page */
#addUserForm{
	background-color: #aeccfc;	/* Light Blue */
	border:2px solid black;
	border-radius: 30px;
	padding: 8px;
	width: 500px;
	margin: auto;
}


#loggedInUser{
	color: #FF1717; /* Login Red */
	position: fixed;
	right: 30px;
	bottom: 10px;
}

#UofTLogo{
	height: 80px;
	width: 240px;
}

#bannerTable{
	position: relative;
	top: 0;
	width: 100%;
	background-color: #5e8cd6;	/* Medium Blue */
	border-bottom: 4px solid black;
}

body{
	color: #0202DF; /* Body Blue */
}

#courseTable, #allAppTable, #userTable{
	border: 2px solid black;
	text-align: left;
	border-spacing: 0px;
	cell-padding: 20px;
	overflow: scroll;
	text-align: center; 
	width: 100%;
}

#courseTable tbody tr:hover{
	background-color: #ffff80; /* Hover Yellow */
}
#userTable tbody tr:hover{
	background-color: #ffff80; 
}
#allAppTable tbody tr:hover{
	background-color: #ffff80; 
}

#courseTable td, #allAppTable td{
	padding: 5px;
}

#selected{
	background-color: #ff8533;	/* Selected Orange */
}

input {
	outline: 1px solid grey;
}

#myAppTable{
	padding: 5px;
	border-spacing: 10px;
}

#myProfileTable p{
	text-indent: 20pt;
}

#pWhy, #pTAVol, #pTAExp{
	resize: vertical;
	height: 80px;
}

#pageInfo{
    overflow: scroll;
}

#tableWrap{
	background-color: #aeccfc;	/* Light Blue */
	position: relative;
	max-height: 50%;
	max-width: 65%;
	overflow: scroll;
}

select #green{
	background-color: green;
}
#errorMessage{
	color: red;
}