#UofTLogo{
	height: 80px;
	width: 240px;
}

#bannerTable{
	width: 100%;
}

body{
	color: blue;
}

#courseTable{
	border: 2px solid black;
	max-width: 75%;
	text-align: left;
	border-spacing: 0px;
	cell-padding: 20px;
}

#courseTable tbody tr:hover{
	background-color: #ffff80; 
}

#courseTable td{
	padding: 5px;
}

#selected{
	background-color: #ff8533;
}
